.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #004e1e;
    color: #fff;
}

.navbar-brand .logo {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.logo-image {
    height: 60px;
    width: auto;
    margin: -20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff0000;
}

.nav-links li a.active {
    color: #007bff;
    font-weight: bold;
}